node_modules/
dist/
dist-ssr/
*.local
.env
.env.*.local
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

src-tauri/target/
src-tauri/gen/
*.db
*.sqlite
*.sqlite3
fluely.db

.DS_Store
Thumbs.db
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
.idea/
package-lock.json
